In [44]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
pd.set_option('max_columns', 150)

In [45]:
ds = pd.read_csv("C:/Users/tvpia/Desktop/Final project/final-project/your-project/Datasets/ds_explore.csv")

In [46]:
ds.head(5)

,Unnamed: 0,HSNS1,HSNS2,HSNS3,HSNS4,HSNS5,HSNS6,HSNS7,HSNS8,HSNS9,HSNS10,DDP1,DDP2,DDP3,DDP4,DDN1,DDN2,DDN3,DDN4,DDM1,DDM2,DDM3,DDM4,age,gender,accuracy,country,HSNScale,HSNS1_flag,HSNS2_flag,HSNS3_flag,HSNS4_flag,HSNS5_flag,HSNS6_flag,HSNS7_flag,HSNS8_flag,HSNS9_flag,HSNS10_flag,DDP1_flag,DDP2_flag,DDP3_flag,DDP4_flag,DDN1_flag,DDN2_flag,DDN3_flag,DDN4_flag,DDM1_flag,DDM2_flag,DDM3_flag,DDM4_flag,label_psy_only,label_all_features
0,0,2,4,5,1,4,5,4,3,3,2,1,1,4,4,2,1,1,1,1,2,2,1,37,2,98,PT,0.62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2
1,1,4,2,2,4,3,4,4,5,4,3,4,4,2,4,3,2,2,3,4,4,4,3,34,3,95,PL,0.64,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,2,5,5,5,4,2,5,5,4,4,2,2,2,2,4,4,2,4,3,3,4,4,2,22,2,80,AU,0.78,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0
3,3,4,1,2,2,4,5,2,2,5,2,4,2,4,0,5,5,4,1,4,2,3,4,24,1,99,US,0.54,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
4,4,5,3,4,5,5,5,4,5,4,3,4,3,4,4,4,2,5,2,4,4,1,5,21,2,90,US,0.80,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,4

Quick pre-exploration cleaning : remove unnamed colum, add the test results for the 3 tests included in the dirty triad test and remove the flagged columns.

In [47]:
ds.drop(columns="Unnamed: 0",inplace=True)

In [48]:
ds["DDPScale"]= round(ds.iloc[:,10:14].sum(axis=1)*5/100,2)
ds["DDNScale"]= round(ds.iloc[:,14:18].sum(axis=1)*5/100,2)
ds["DDMScale"]= round(ds.iloc[:,18:22].sum(axis=1)*5/100,2)

In [49]:
ds.head(5)

,HSNS1,HSNS2,HSNS3,HSNS4,HSNS5,HSNS6,HSNS7,HSNS8,HSNS9,HSNS10,DDP1,DDP2,DDP3,DDP4,DDN1,DDN2,DDN3,DDN4,DDM1,DDM2,DDM3,DDM4,age,gender,accuracy,country,HSNScale,HSNS1_flag,HSNS2_flag,HSNS3_flag,HSNS4_flag,HSNS5_flag,HSNS6_flag,HSNS7_flag,HSNS8_flag,HSNS9_flag,HSNS10_flag,DDP1_flag,DDP2_flag,DDP3_flag,DDP4_flag,DDN1_flag,DDN2_flag,DDN3_flag,DDN4_flag,DDM1_flag,DDM2_flag,DDM3_flag,DDM4_flag,label_psy_only,label_all_features,DDPScale,DDNScale,DDMScale
0,2,4,5,1,4,5,4,3,3,2,1,1,4,4,2,1,1,1,1,2,2,1,37,2,98,PT,0.62,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,0.50,0.25,0.30
1,4,2,2,4,3,4,4,5,4,3,4,4,2,4,3,2,2,3,4,4,4,3,34,3,95,PL,0.64,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0.70,0.50,0.75
2,5,5,5,4,2,5,5,4,4,2,2,2,2,4,4,2,4,3,3,4,4,2,22,2,80,AU,0.78,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0.50,0.65,0.65
3,4,1,2,2,4,5,2,2,5,2,4,2,4,0,5,5,4,1,4,2,3,4,24,1,99,US,0.54,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0.50,0.75,0.65
4,5,3,4,5,5,5,4,5,4,3,4,3,4,4,4,2,5,2,4,4,1,5,21,2,90,US,0.80,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,4,0.75,0.65,0.70

In [50]:
ds.columns
ds.drop(columns=['HSNS1_flag', 'HSNS2_flag','HSNS3_flag', 'HSNS4_flag', 'HSNS5_flag', 'HSNS6_flag', 'HSNS7_flag',
       'HSNS8_flag', 'HSNS9_flag', 'HSNS10_flag', 'DDP1_flag', 'DDP2_flag',
       'DDP3_flag', 'DDP4_flag', 'DDN1_flag', 'DDN2_flag', 'DDN3_flag',
       'DDN4_flag', 'DDM1_flag', 'DDM2_flag', 'DDM3_flag', 'DDM4_flag'],axis=1,inplace=True)

In [51]:
ds.head(1)

,HSNS1,HSNS2,HSNS3,HSNS4,HSNS5,HSNS6,HSNS7,HSNS8,HSNS9,HSNS10,DDP1,DDP2,DDP3,DDP4,DDN1,DDN2,DDN3,DDN4,DDM1,DDM2,DDM3,DDM4,age,gender,accuracy,country,HSNScale,label_psy_only,label_all_features,DDPScale,DDNScale,DDMScale
0,2,4,5,1,4,5,4,3,3,2,1,1,4,4,2,1,1,1,1,2,2,1,37,2,98,PT,0.62,2,2,0.5,0.25,0.3

In [52]:
ds.groupby("label_psy_only")[["HSNScale","DDPScale","DDNScale","DDMScale"]].mean()

                HSNScale  DDPScale  DDNScale  DDMScale
label_psy_only
0               0.563236  0.733326  0.552559  0.682612
1               0.604587  0.463687  0.617409  0.524262
2               0.450368  0.376633  0.429772  0.386391
3               0.707240  0.638245  0.768956  0.712598
4               0.728816  0.870464  0.848380  0.883197

In [54]:
ds.label_psy_only.value_counts()

1    13272
3    11859
0    10648
4     8918
2     7932
Name: label_psy_only, dtype: int64

In [53]:
ds.groupby("label_all_features")[["HSNScale","DDPScale","DDNScale","DDMScale"]].agg('mean')

                    HSNScale  DDPScale  DDNScale  DDMScale
label_all_features
0                   0.707655  0.639897  0.769619  0.712948
1                   0.562138  0.732254  0.551736  0.681036
2                   0.451547  0.375647  0.430796  0.386291
3                   0.605083  0.464053  0.618266  0.525562
4                   0.728221  0.870250  0.846662  0.883233

In [55]:
ds.label_all_features.value_counts()

3    13268
0    11828
1    10628
4     8943
2     7962
Name: label_all_features, dtype: int64

We can observe that the narcissim scale is consistent between the 2 tests (HSN and DDN). Therefore, I will keep only the more detailed test of the 2 (HSN as it had 10 questions instead of 4 for DDN).

In [56]:
ds.drop(columns="DDNScale",axis=1,inplace=True)

We observe that the clustering has similar results no matter if we take into account only the psychological features or all of them. Therefore I will drop the column label_all_features.

In [59]:
ds.drop("label_all_features",axis=1, inplace=True)

In [60]:
ds.rename(columns={"label_psy_only": "cluster_label"})

,HSNS1,HSNS2,HSNS3,HSNS4,HSNS5,HSNS6,HSNS7,HSNS8,HSNS9,HSNS10,DDP1,DDP2,DDP3,DDP4,DDN1,DDN2,DDN3,DDN4,DDM1,DDM2,DDM3,DDM4,age,gender,accuracy,country,HSNScale,cluster_label,DDPScale,DDMScale
0,2,4,5,1,4,5,4,3,3,2,1,1,4,4,2,1,1,1,1,2,2,1,37,2,98,PT,0.62,2,0.50,0.30
1,4,2,2,4,3,4,4,5,4,3,4,4,2,4,3,2,2,3,4,4,4,3,34,3,95,PL,0.64,0,0.70,0.75
2,5,5,5,4,2,5,5,4,4,2,2,2,2,4,4,2,4,3,3,4,4,2,22,2,80,AU,0.78,3,0.50,0.65
3,4,1,2,2,4,5,2,2,5,2,4,2,4,0,5,5,4,1,4,2,3,4,24,1,99,US,0.54,0,0.50,0.65
4,5,3,4,5,5,5,4,5,4,3,4,3,4,4,4,2,5,2,4,4,1,5,21,2,90,US,0.80,4,0.75,0.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52624,2,2,2,4,3,5,3,2,5,5,5,3,5,5,4,2,5,4,4,5,4,5,18,2,98,US,0.56,4,0.90,0.90
52625,5,4,5,4,4,4,5,4,4,2,1,2,2,4,5,4,5,4,2,5,2,2,17,1,90,US,0.78,3,0.45,0.55
52626,3,1,1,2,4,5,1,2,2,4,5,1,2,2,1,2,1,1,2,1,1,1,33,1,100,IN,0.42,2,0.50,0.25
52627,5,3,5,2,5,5,4,5,2,5,5,4,5,5,4,1,4,2,4,5,1,4,22,1,100,US,0.72,0,0.95,0.70
52628,5,3,2,3,3,3,2,4,4,1,1,1,1,1,5,4,1,2,1,2,4,1,19,2,65,GB,0.58,1,0.20,0.40

In [ ]:
ds.groupby("cluster_label")[["HSNScale","DDPScale","DDMScale","Age","Gender"]].agg